{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block body %}
{% load static %}
          <!-- CSS CUSTOM -->
          <link rel="stylesheet" href="{% static 'styleABOUT.css' %}">
          <body>
            <div class="ABOUTHEAD">
                <strong><U>ABOUT US</U></strong>
            </div>
            <div class="ABOUTLINE">
                <strong>THIS IS  A WEBSITE WHERE YOU CAN SOLVE YOUR DOUBTS BY EXPLORING AMAZING FACTS ABOUT CODING!!</strong>
            </div>















        </body>








{% endblock body %}