{% extends 'base.html' %}

{% block title %} FAQs {% endblock title %}

{% block body %}
{% load static %}
          <!-- CSS CUSTOM -->
          <link rel="stylesheet" href="{% static 'stylePYTH.css' %}">
          <body>
            <div class="PYHEAD">
                <strong><U>WHAT IS PYTHON?</U></strong>
            </div>
            <div class="PYLINE">
                <strong>Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its
                    high-level built in data structures, combined with dynamic typing and dynamic binding, make it very
                    attractive
                    for Rapid Application Development, as well as for use as a scripting or glue language to connect existing
                    components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the
                    cost
                    of program maintenance. Python supports modules and packages, which encourages program modularity and code
                    reuse. The Python interpreter and the extensive standard library are available in source or binary form
                    without
                    charge for all major platforms, and can be freely distributed.
                    Often, programmers fall in love with Python because of the increased productivity it provides. Since there
                    is no
                    compilation step, the edit-test-debug cycle is incredibly fast.</strong>
        
            </div>
        
            <div class="PYUSAGES">
                <strong>
                    <div class="heading">
                        ------------------------------------------------------------------APPLICATIONS-----------------------------------------------------------------------------
                    </div>
                    <ul>
                        <U>
                            <li>WEB DEVELOPMENT</li>
                        </U>
                        It is one of the most astonishing applications of Python. This is because Python comes up with a
                        wide
                        range of frameworks like Django, Flask, Bottle, and a lot more that provide ease to developers.
                        Furthermore, Python has inbuilt libraries and tools which make the web development process
                        completely
                        effortless.
                        <u>
                            <li>ANDROID DEVELOPMENT</li>
                        </u>
                        Python can be used for Android App Development even though Android doesn’t support native Python
                        development. This can be done using various tools that convert the Python apps into Android Packages
                        that
                        can run on Android devices.
                        An example of this is Kivy that is an open-source Python library used for developing mobile apps. It
                        supports Android and also encourages rapid app development (which is a win-win situation according
                        to me!).
                        However, a downside to this is that there won’t be native benefits for Kivy as it isn’t natively
                        supported.
                        <u>
                            <li>ARTIFICIAL INTELLIGENCE AND MACHINE LEARNING</li>
                        </u>
                        Machine Learning, as the name suggests, is the science of programming a computer by which they are able
                        to learn from different kinds of data. A more general definition given by Arthur Samuel is – “Machine
                        Learning is the field of study that gives computers the ability to learn without being explicitly
                        programmed.” They are typically used to solve various types of life problems.
                        In the older days, people used to perform Machine Learning tasks by manually coding all the algorithms
                        and mathematical and statistical formula. This made the process time consuming, tedious and inefficient.
                        But in the modern days, it is become very much easy and efficient compared to the olden days by various
                        python libraries, frameworks, and modules. Today, Python is one of the most popular programming
                        languages for this task and it has replaced many languages in the industry, one of the reason is its
                        vast collection of libraries.
                        <u>
                            <li>DATA SCIENCE</li>
                        </u>
                        Python is open source, interpreted, high level language and provides great approach for object-oriented
                        programming. It is one of the best language used by data scientist for various data science
                        projects/application. Python provide great functionality to deal with mathematics, statistics and
                        scientific function. It provides great libraries to deals with data science application.
        
                        One of the main reasons why Python is widely used in the scientific and research communities is because
                        of its ease of use and simple syntax which makes it easy to adapt for people who do not have an
                        engineering background. It is also more suited for quick prototyping.
        
                        According to engineers coming from academia and industry, deep learning frameworks available with Python
                        APIs, in addition to the scientific packages have made Python incredibly productive and versatile. There
                        has been a lot of evolution in deep learning Python frameworks and it’s rapidly upgrading.
        
                        In terms of application areas, ML scientists prefer Python as well. When it comes to areas like building
                        fraud detection algorithms and network security, developers leaned towards Java, while for applications
                        like natural language processing (NLP) and sentiment analysis, developers opted for Python, because it
                        provides large collection of libraries that help to solve complex business problem easily, build strong
                        system and data application.
                    </ul>
                </strong>
            </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </body>



{% endblock body %}